.editor-styles-wrapper { font-family: 'Montserrat', sans-serif; }
.has-primary-color { color: #8E2183; }
.has-primary-background-color { background-color: #8E2183; }
.has-secondary-color { color: #FFD466; }
.has-secondary-background-color { background-color: #FFD466; }